.article-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    margin-bottom: 80px;
}

/* Responsive Layout for Mobile Devices */

@media only screen and (max-width:576px) {
    .article-main {
        grid-template-columns: repeat(1, 1fr);
    }
}


.article-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #080808;
    margin-bottom: 30px;
}

.card {
    border-radius: 15px;
    background-color: #fff !important;
    border: 2px solid #f8f9fa;
}

.card-body {
    background-color: #f8f9fa;
}

.card-img-top {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    color: #080808;
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 15px;
}