.blogs-part {
    text-align: center;
    margin-top: 70px;
}

.blogs-part h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #080808;
    margin-bottom: 30px;
}